/* index */
/* reset.css로 출발 */

html,
body {
  margin: 0;
}

html {
  background-color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 100svh;
}
body {
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  height: 100%;
  width: 100%;
}
