/* index */
/* reset.css로 출발 */

html,
body {
  margin: 0;
}

html {
  background-color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 0;
  min-height: 100svh;
}
body {
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Sagak-sagak";
  src: url("../font/Sagak-sagak.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Sagak-sagak" !important;
}
