.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 200px;
}

.signup_frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_frame1 > div:nth-child(3) {
  font-size: 16px;
  width: 142px;
  height: 36px;
}

.signup_frame2 {
  display: flex;
  width: 120px;
  height: 38px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: #000;
  color: white;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 59.826px;
}
.image-container img {
  display: block;
}
.image-container .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%; /* 두 번째 이미지 크기 조정 */
  height: auto;
}
