{% extends 'base.html' %} {% block content %} {% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/accounts/signup.css'%}"/>
  
   
          <div class="signup">
        
         
        
              <form action="{% url 'accounts:signup' %}" method="POST" id="form">
                {% csrf_token %}
                <div class="inputlist">

                  <div class="frame1">
                <div>아이디</div>
                <input type="text" name="username" id="username">
                <div>사용 가능한 아이디 입니다!</div>
              </div>

             <div class="frame2">
            <div>비밀번호</div>
            <input type="password" name="password" id="password">
            <div>*영문/숫자 포함 8글자 이상 입력해주세요.</div>
                
            
      
                  </div>
                </div>
              
          
          
              <div><label class="label">비밀번호 확인</label>
                <div class="frame">
                  <input type="password" name="password2" id="password-confirm">
              <div class="none">비밀번호가 일치하지 않습니다!</div>
               </div>
              </div>
            
      
             
            </div>
            <p id="last"></p>
          </div>
          <div class="su">
          <label id="su"><input type="button" id="button" disabled>가입하기</label></form>
        </div> 
        <!-- 폼 -->
   
      {% endblock %}
