<!--
최상단 네비게이션을 구현한 topnav 입니다.
모든 화면에 있는 콩닥콩닥, 홈화면 아이콘이 있는 nav바 입니다.
-->

<!-- 스타일 css import -->
{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/shared/topnav.css'%}"
/>

<div id="root">
 <div class="container">
    <div class="nav">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
            <path d="M13.5 1L1.5 9L13.5 17" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>

 </div>
</div>

