<!-- 최상단 네비게이션을 구현한 topnav 입니다. 모든 화면에 있는 콩닥콩닥, 홈화면 아이콘이 있는 nav바 입니다. -->

<!-- 스타일 css import -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shared/topnav.css'%}"/>

<div class="root">

  <div class="top-nav">
    <div id="back">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewbox="0 0 18 22" fill="none">
        <path d="M16.2603 1.28662L1.69025 11L16.2603 20.7133" stroke="black" stroke-width="2.42834" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div>
      <img src="{% static 'assets/images/heart.svg'%}" alt="">
      <p>콩닥콩닥</p>
      <img src="{% static 'assets/images/heart.svg'%}" alt="">
    </div>
    <div id="home">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewbox="0 0 18 20" fill="none">
        <path d="M1.71429 18.3713H6.19743V11.2264H11.8026V18.3713H16.2857V7.44271L9 1.93229L1.71429 7.44271V18.3713ZM0.5 19.5856V6.83557L9 0.414429L17.5 6.83557V19.5856H10.5883V12.4407H7.41172V19.5856H0.5Z" fill="black"/>
      </svg>
    </div>
  </div>
</div>
<script src="{% static 'js/topnav.js' %}"></script>