<!--
최상단 네비게이션을 구현한 topnav 입니다.
모든 화면에 있는 콩닥콩닥, 홈화면 아이콘이 있는 nav바 입니다.
-->

<!-- 스타일 css import -->
{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/shared/topnav.css'%}"
/>

<div id="root">

    <div class="nav">
     
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none">
            <path d="M13.5 1L1.5 9L13.5 17" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <img src="{% static 'assets/images/kongdak_heart.svg'%}">
            <div>콩닥콩닥</div>
            <img src="{% static 'assets/images/kongdak_heart.svg'%}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
              <path d="M1.71429 18.3713H6.19743V11.2264H11.8026V18.3713H16.2857V7.44271L9 1.93229L1.71429 7.44271V18.3713ZM0.5 19.5856V6.83557L9 0.414429L17.5 6.83557V19.5856H10.5883V12.4407H7.41172V19.5856H0.5Z" fill="black"/>
            </svg>

    </div>

</div>

