.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 2.5rem;
  margin-top: 3rem;
  border: 1px solid black;
}

.top-nav div:nth-child(1) {
  width: 15%;
  display: flex;
  justify-content: center;
}

.top-nav div:nth-child(2) {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav div:nth-child(3) {
  width: 15%;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}
