.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  margin-top: 1rem;
}

#allview {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.all_line {
  width: 100%;
  height: 1px;
  background: #000;
}

#select-form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.3rem;
  max-width: 100%;
}

/* 여기부터 */
.select-date {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  max-width: 360px;
  width: 100%;
}
.year-select {
  width: 3.3rem;
  height: 1.3rem;
}
.month-select {
  width: 2.8rem;
  height: 1.3rem;
}

.date-label {
  display: flex;
  align-self: center;
  font-size: 0.9rem;
}
.select_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

#reset-button {
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
select {
  border-radius: 0.5rem;
  border: 1px solid black;
}

.post-view {
  display: flex;
  min-width: 100%;
  /* gap: 0.8rem; */
  overflow-y: auto;

  border-bottom: dashed 1.5px black;
}

#post_none {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 600;
}

.post-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  padding: 0.5rem;
  flex: 1;
  gap: 0.5rem;
}

.post-item > div:nth-child(1) {
  width: 30%;
}

.post-item > div:nth-child(2) {
  width: 60%;
  flex: 1;
  white-space: nowrap;
}

.post-item > div:nth-child(3) {
  max-width: 5rem;
  white-space: nowrap;
}

.place {
  max-width: 10rem;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  font-size: 0.85rem;
}

.heart-btn {
  margin-left: auto;
}
/* 수정완료 */
