.posts-container {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border-top: 1px solid black;
}
#all_line {
  margin-top: 50px;
  width: 80%;
  height: 1px;
  background: #000;
}

.post-view {
  display: flex;
  min-width: 100%;
  margin-top: 1rem;
  /* gap: 0.8rem; */
  overflow-y: auto;
  border-bottom: dashed 2px black;
}

.post-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  flex: 1;
  gap: 0.5rem;
}

.post-item > div:nth-child(1) {
  width: 25%;
}

.post-item > div:nth-child(2) {
  width: 50%;
  flex: 1;
}

.post-item > div:nth-child(2) {
  width: 25%;
}

.place {
  max-width: 10rem;
  border-radius: 8px;
  background: #fe8535;
  padding: 5px;
}

.heart-btn {
  margin-left: auto;
}
