.grid-b-campus {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
}
.campus-view-b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/b_screen.svg");
  background-position: center;
  background-size: cover;
  margin-top: 6rem;
}

.grid_b {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 1fr 1fr 3fr;
}
.grid_b > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.button-2 {
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: start;
}

.button-3 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.button-4 {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: start;
}

.button-5 {
  grid-row: 4/5;
  grid-column: 2/3;
  align-self: end;
}

.button-6 {
  grid-row: 4/5;
  grid-column: 1/2;
}

.grid_b p {
  position: absolute;
  z-index: 2;
}

/* 수정완료 */
