.creat_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80vh;
  background-image: url("../assets/images/diary.png");
  background-repeat: no-repeat;
  background-position: center 30%;
  margin-top: 2rem;
  position: relative;
}

#today {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.diary_frame1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  width: 70%;
  height: 40px;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
}

.diary_frame1 > div:nth-child(1) {
  width: 70%;
  border: 1px solid #000;
  padding: 8px;
}

.diary_frame1 > div:nth-child(2) {
  width: 30%;
  border: 1px solid #000;
  padding: 8px;
}

#create_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  gap: 1.3rem;
}
.diary_title {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #000;
  font-size: 1rem;
}

.diary_title div {
  padding-left: 0.5rem;
  width: 20%;
}
#text {
  width: 100%;
  height: 240px;
  border: solid 1px #000 !important;
  background: #fff;
}
input {
  width: 90%;
  height: 100%;
}
.diary_frame2 {
  display: flex;
  width: 100%;
  padding: 12px 0px;
  align-items: flex-start;
  border: 1px solid #000;
  background: #fff;
}
.diary_frame2 div {
  padding-left: 0.5rem;
  font-size: 1rem;
  width: 20%;
}

#diary_save {
  display: flex;
  width: calc(100% - 20px);
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: #fe8535;
  color: white;
  border: none;
  position: absolute;
  bottom: 1rem;
}
