.create_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 80vh;
  background-image: url("../assets/images/diary.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.5rem;
  position: relative;
}

#today-zone {
  font-size: 1.2rem;
}

#today {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.diary_frame1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  width: 80%;
  height: 3rem;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
}

.diary_frame1 > div:nth-child(1) {
  width: 70%;
  border: 1px solid #000;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary_frame1 > div:nth-child(2) {
  width: 30%;
  border: 1px solid #000;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create_form {
  /* min-height: 70svh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 1.3rem;
}
.diary_title {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  background: #fff;
  border: 1px solid #000;
  font-size: 1rem;
}

.diary_title div {
  padding-left: 0.5rem;
  width: 20%;
  font-size: 1.2rem;
}
#text {
  width: 100%;
  height: 240px;
  border: solid 1px #000 !important;
  background: #fff;
}
input {
  width: 90%;
  height: 100%;
  font-size: 1.2rem;
}
.tag-frame {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  background: #fff;
  border: 1px solid #000;
  font-size: 1rem;
}
.tag-frame input {
  font-size: 1rem;
}

.tag-frame div {
  padding-left: 0.5rem;
  width: 20%;
  font-size: 1.2rem;
}

textarea {
  padding: 1rem;
  font-size: 1.3rem;
  max-width: calc(100% - 2rem);
  line-height: normal;
}

#diary_save {
  width: 100%;
  flex-direction: column;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.disabled-btn {
  background: #d9d9d9;
}

.abled-btn {
  background-color: #fe8535;
  color: white;
}
