.login-view {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-main-img {
  width: 90%;
  height: 75vh;
}

.title-view {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 20vh;
  gap: 1.2rem;
  font-size: 0.8rem;
}

.title-view p:nth-child(2) {
  margin: 0.5rem 0;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}

.input-view {
  width: 90%;
  position: absolute;
  z-index: 2;
  top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}

#username,
#password {
  width: 17rem;
  height: 2.5rem;
  border: none;
  border-bottom: 2px dotted black;
}

button {
  color: black;
  display: flex;
  padding: 0.45rem 2.25rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  background-color: #d9d9d9;
  font-size: 1rem;
  font-weight: 600;
}

.login-color {
  color: white !important;
  background-color: black;
}

.signup-view {
  margin: 1rem;
  max-width: 90%;
  /* position: absolute;
  z-index: 2; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-view a {
  color: black;
  text-decoration: underline;
}

.copyright-view {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

p {
  margin: 0;
}

#error {
  display: flex;
  align-self: flex-start;
  visibility: hidden;
  color: red;
}
