.grid-nav {
  display: grid;
  width: 80%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 7fr 3fr;
  margin-top: 3rem;
}

.item1 {
  grid-row: 1/2;
  grid-column: 1/3;
  border: 1px solid black;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
a {
  display: flex;
  align-items: center;
}

.item2 {
  grid-row: 2/3;
  grid-column: 1/2;
  border: 1px solid black;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item3 {
  grid-row: 2/3;
  grid-column: 2/3;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campus-view {
  margin-top: 3rem;
  width: 90%;
  height: 16.08431rem;
  background-repeat: no-repeat;
  background-image: url("../assets/images/main.svg");
  background-position: center;
}

.select-view {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2.5fr 3fr 4.5fr;
  height: 35%;
  width: 100%;
}

.select-view > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 {
  grid-row: 1/3;
  grid-column: 1/2;
}

.button-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.button-3 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.select-view a {
  position: absolute;
  z-index: 2;
}

.explain-view {
  align-self: flex-end;
  width: 70%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  grid-template-columns: 1fr 9fr;
}

.search-view {
  width: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 3rem;
}

.search-view > input {
  width: 100%;
  height: 3vh;
  border: solid black 1px;
  padding: 0.5rem;
}

.search-img {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  z-index: 2;
  position: absolute;
  margin-right: 1rem;
}

.info-view,
.week-view,
.best-view {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.info-title,
.week-title,
.best-title {
  padding: 0.1rem;
  border-bottom: 1px solid black;
}

.info-detail {
  max-width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(1fr, 4);
  grid-template-columns: 6fr 4fr;
  border: 1px solid black;
}

.p-info:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/2;
}

.p-info:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}

.p-info:nth-child(3) {
  grid-row: 3/4;
  grid-column: 1/2;
}

.p-info:nth-child(4) {
  grid-row: 4/5;
  grid-column: 1/2;
}

.info-detail div {
  grid-row: 1/5;
  grid-column: 2/3;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.week-box {
  max-width: 100%;
  padding: 0 5%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.best-detail {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.best-box {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted black;
}

.best-box p:nth-child(1) {
  width: 40%;
}
.best-box p:nth-child(2) {
  width: 40%;
}
.best-box p:nth-child(3) {
  width: 20%;
  display: flex;
  justify-content: end;
}

.collection-view {
  display: flex;
  width: 70%;
  margin: 2rem 0;
  border: 1px solid black;
}

.collection-view p {
  width: 85%;
  padding: 0.5rem;
}
.collection-view img {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.logout-view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.logout-view a {
  text-decoration-line: underline;
}

.footer-view {
  width: 100%;
  background: rgba(217, 217, 217, 0.5);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
