.search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

#search-box {
  display: flex;
  width: 80%;
  height: 3rem;
  border: solid 1px black;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

#search-box img {
  display: flex;
  justify-content: flex-end;
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
}
#search-box input {
  flex-grow: 1;
  height: 1.8rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

#search svg {
  margin-right: 8px;
}

.search_frame0 {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 80%;
  gap: 0.5rem;
}

.search_frame0 > div:nth-child(1) {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  font-weight: 400;
}

#search_line {
  width: 100%;
  height: 1px;
  background: #000;
}

.search_frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;

  gap: 0.8rem;
  overflow-y: auto;
  align-self: center;
}

#search_none {
  display: none;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 600;
}
.search_list {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  width: 100%;
  border-bottom: dashed 2px black;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0.3rem;
}
.search_list div {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.search_list > div:nth-child(1) {
  width: 35%;
}
.search_list > div:nth-child(2) {
  width: 40%;
}
.search_list > div:nth-child(3) {
  width: 30%;
}
.search-img {
  display: flex;
  justify-content: flex-end;
}

.search_place {
  display: flex;
  border-radius: 8px;
  padding: 4px 7px;
  justify-content: center;
  align-items: center;
}
