#home {
  visibility: hidden;
  cursor: none;
}

p {
  margin: 0;
}

.sign-up-frame {
  width: 100%;
  /* max-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.5rem;
}
/* 
.sign-up-view {
} */

.sign-up-form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.data-input-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-up-form input {
  height: 3rem;
  width: 100%;
  flex-shrink: 0;
  border: 1px solid black;
}

.submit-view {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up-submit {
  width: 6rem;
  height: 2.5rem;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  background: #d9d9d9;
  border: 0;
}

/* .check-btn-view button {
  position: absolute;
  z-index: 2;
  top: 23vh;
} */

.id-check-btn-view {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.hidden-class {
  /* display: none; */
  visibility: hidden;
}

.warning-text {
  color: red !important;
}
.warning-input {
  border: 1.5px solid red !important;
}

.valid-text {
  color: green !important;
}

.valid-input {
  border: 1.5px solid #1d9000 !important;
}

.abled-btn {
  background: #000 !important;
  color: white !important;
}

.input-container {
  position: relative;
  display: inline-block;
}
#id-input {
  width: 100%;
}
.check-button {
  position: absolute;
  right: 3%;
  top: 20%;
  width: 20%;
  height: 60%;
  border: none;
  border-radius: 0.625rem;
}
