<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/category_b.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-b-campus">
      <div class="campus-view-b">
        <div class="grid_b">
          <a href="" class="button-1">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>상록원</p>
          </a>
          <a href="" class="button-2">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>신공학관</p>
          </a>
          <a href="" class="button-3">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>명진관</p>
          </a>
          <a href="" class="button-4">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>중앙도서관</p>
          </a>
          <a href="" class="button-5">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>팔정도</p>
          </a>
          <a href="" class="button-6">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>법학관</p>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
