<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/category_c.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-c-campus">
      <div class="campus-view-c">
        <div class="grid_c">
          <a href="" class="button-1">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>원흥관</p>
          </a>
          <a href="" class="button-2">
            <img src="../static/images/placeframe_long.svg" alt="" />
            <p>정보문화관P/Q</p>
          </a>
          <a href="" class="button-3">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>학생회관</p>
          </a>
          <a href="" class="button-4">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>만해광장</p>
          </a>
          <a href="" class="button-5">
            <img src="../static/images/placeframe.svg" alt="" />
            <p>학림관</p>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
