<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/category_1.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/category_1.css"
    />
  </head>
  <body>
    <div class="category-view">
      <div class="container">
        <div id="post_place">대운동장</div>
        <div class="category_1_frame1">
          <div class="category_1_frame1_1">
            <div class="label_short">대장코끼리:</div>
            <div id="crown">
              <img src="../static/images/Crown (2).svg" /> 하채민
            </div>

            <div class="value">92개</div>
          </div>
          <div class="category_1_frame1_2">
            <div class="label">내가 채운 추억:</div>
            <div class="gauge-bar">
              <div class="fill" style="width: 60%"></div>
            </div>
            <div class="value">50개</div>
          </div>
        </div>

        <div class="category_1_frame2">
          <div>나의 글 목록</div>
          <p></p>
          <div class="scroll">
            <!-- {% for item in item_list %} -->
            <div class="category_1_frame4">
              <div>2024.06.19</div>
              <div>심바톤4조회의날</div>
              <div>날씨</div>
            </div>

            <!-- {% endfor%} -->
          </div>
          <!-- 반복된 post 요소를 나열 -->
        </div>

        <div class="category_1_frame3">
          <a href="" id="save">새로운 추억 남기기</a>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <img src="../../project/project/static/assets/images/background_category.png" class="background_image"> -->
