<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/category_a.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-a-campus">
      <div class="campus-view-a">
        <a href="" class="button-1">
          <img src="../static/images/placeframe.svg" alt="" />
          <p>사과/경영관</p>
        </a>
        <a href="" class="button-2">
          <img src="../static/images/placeframe.svg" alt="" />
          <p>대운동장</p>
        </a>
        <a href="" class="button-3">
          <img src="../static/images/placeframe.svg" alt="" />
          <p>학술문화관</p>
        </a>
        <a href="" class="button-4">
          <img src="../static/images/placeframe.svg" alt="" />
          <p>혜화관</p>
        </a>
      </div>
    </div>
  </body>
</html>
