<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/login.css">

    <title>Document</title>
  </head>

  <body>
    <div class="login-view" id="root">
      <p>대학생활의 설렘을 간직해보세요.</p>
      <h1>콩닥콩닥</h1>
      <img src="../static/images/set.svg" alt="">
      <form action="">
        <div class="input-view">
          <input type="text" name="username" id="username" placeholder="아이디">
          <input type="password" name="password" id="password" placeholder="비밀번호">
          <button>
            <p>로그인</p>
          </button>
        </div>
      </form>
      <a href="">회원가입</a>
    </div>
  </body>

</html>
