<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/signup_done.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
  </head>
  <body>
    <div class="main">
      <div class="signup_frame1">
        <div class="image-container">
          <img src="../static/images/heart_kongdak.svg" />
          <img src="../static/images/check-fill_kongdak.svg" class="overlay" />
        </div>
        <div>회원가입이 완료되었습니다!</div>
        <div>동국대학교 캠퍼스 곳곳에 나의 청춘을 기록해보세요</div>
      </div>
      <button class="signup_frame2">메인으로</button>
    </div>
  </body>
</html>
