{% extends 'base.html' %}
{% block content %}
  {% include 'shared/_topnav.html'%}
  {% load static %}



  <link rel="stylesheet" type="text/css" href="{% static 'css/all_posts.css' %}"/>
  <div class="posts-container">
    {% csrf_token %}
    {% for post in posts %}
      <div class="post-view">
        <a href="{% url 'post_detail' category=post.category subcategory=post.subcategory post_id=post.id %}?next={% url 'all_posts' %}" class="post-item">
          <div>{{ post.created_at|date:"Y.m.d" }}</div>
          <div>{{ post.title }}</div>
          <div class="place">{{ post.subcategory }}</div>
        </a>
        <button class="heart-btn" data="{{ post.id }}">
          <img src="{% static "assets/images/heartRed.svg" if post.is_bookmarked else "assets/images/heartWhite.svg" %}" alt="" data-is_bookmarked="{{ post.is_bookmarked }}">
        </button>
      </div>
    {% endfor %}

  </div>
  <script>
    const redHeartUrl = '{% static "assets/images/heartRed.svg" %}';
    const whiteHeartUrl = '{% static "assets/images/heartWhite.svg" %}';
  </script>
  <script src="{% static "js/allPost.js" %}"></script>
{% endblock %}
