{% extends 'base.html' %}
{% block content %}
  {% include 'shared/_topnav.html'%}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/edit.css'%}"/>

  <div class="create_container">
    <div id="today">오늘의 일기</div>
    <div class="diary_frame1">
      <div id="today-zone">{{ post.created_at|date:"Y년 m월 d일 l" }}</div>
      <div>날씨:{{post.weather}}</div>
    </div>
    <form id="create_form" action="" method="post">
      {% csrf_token %}

      <div class="diary_title">
        <div>제목:</div>
        <input type="text" name="title" value="{{ post.title }}"/>
      </div>
      <textarea id="text" name="content">{{post.content}}
      </textarea>
      <label class="tag-frame">
        <div>태그:</div>
        <input id="tag-zone" type="text" name="tags" value="{{tags}}"/>
      </label>

      <button type="submit" class="disabled-btn" id="diary_save" disabled="disabled">
        저장
      </button>
    </form>
  </div>
  <script>
    const urlCase = "back";
  </script>
  <script src="{% static 'js/editPost.js' %}"></script>
  <script src="{% static "js/backControl.js" %}"></script>
{% endblock %}
