{% extends 'base.html' %} {% block content %} {% include 'shared/_topnav.html'%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css'%}" />

<div class="search_container">
  <form id="search-box" action="{% url 'search_by_tag' %}" method="get">
    <input type="text" id="tag-zone" name="q" />

    <button type="submit" id="search_img">
      <img
        class="search-img"
        src="{% static 'assets/images/search.svg'%}"
        alt=""
      />
    </button>
  </form>

  <div class="search_frame0">
    <div>검색결과</div>
    <p id="search_line"></p>
    <div class="search_frame1">
      {% if posts %} {% for post in posts %}
      <a
        href="{% url 'post_detail' category=post.category subcategory=post.subcategory post_id=post.id %}?next={{ request.get_full_path }}"
        class="search_list"
      >
        <div>{{ post.created_at|date:"Y. m. d" }}</div>
        <div>{{ post.title }}</div>
        <div class="search_place" data-category="{{ post.category }}">
          {{ post.subcategory }}
        </div>
      </a>
      {% endfor %} {% else %}
      <div id="search_none">검색결과가 없습니다.</div>
      {% endif %}
    </div>
  </div>
  <script>
    const searchUrl = "{% url 'search_by_tag' %}";
    const urlCase = "/mainpage";
  </script>
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/backControl.js' %}"></script>

  {% endblock %}
</div>
