<!-- c구역 건물 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <title>Second Page - C</title>
</head>
<body>
    <h1>Second Page - C</h1>
    <a href="{% url 'categorypage' 'c' '정보문화관' %}"><button>정보문화관</button></a>
    <a href="{% url 'categorypage' 'c' '만해광장' %}"><button>만해광장</button></a>
    <a href="{% url 'categorypage' 'c' '학생회관' %}"><button>학생회관</button></a>
    <a href="{% url 'categorypage' 'c' '학림관' %}"><button>학림관</button></a>
    <a href="{% url 'categorypage' 'c' '원흥관' %}"><button>원흥관</button></a>
</body>
</html>
