<!-- a구역 건물페이지 -->
<!DOCTYPE html>
<html>
<head>
    <title>Second Page - A</title>
</head>
<body>
    <h1>Second Page - A</h1>
    <a href="{% url 'categorypage'  'a' '1' %}"><button>Category 1</button></a>
    <a href="{% url 'categorypage'  'a' '2' %}"><button>Category 2</button></a>
    <a href="{% url 'categorypage'  'a' '3' %}"><button>Category 3</button></a>
    <a href="{% url 'categorypage'  'a' '4' %}"><button>Category 4</button></a>
    <a href="{% url 'categorypage'  'a' '5' %}"><button>Category 5</button></a>
</body>
</html>
