<!-- c구역 건물 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <title>Second Page - C</title>
</head>
<body>
    <h1>Second Page - C</h1>
    <a href="{% url 'categorypage' 'c' '1' %}"><button>Category 1</button></a>
    <a href="{% url 'categorypage' 'c' '2' %}"><button>Category 2</button></a>
    <a href="{% url 'categorypage' 'c' '3' %}"><button>Category 3</button></a>
    <a href="{% url 'categorypage' 'c' '4' %}"><button>Category 4</button></a>
    <a href="{% url 'categorypage' 'c' '5' %}"><button>Category 5</button></a>
</body>
</html>
