<!-- b구역 건물 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <title>Second Page - B</title>
</head>
<body>
    <h1>Second Page - B</h1>
    <a href="{% url 'categorypage' 'b' '명진관' %}"><button>명진관</button></a>
    <a href="{% url 'categorypage' 'b' '신공학관' %}"><button>신공학관</button></a>
    <a href="{% url 'categorypage' 'b' '중앙도서관' %}"><button>중앙도서관</button></a>
    <a href="{% url 'categorypage' 'b' '상록원' %}"><button>상록원</button></a>
    <a href="{% url 'categorypage' 'b' '팔정도' %}"><button>팔정도</button></a>
    <a href="{% url 'categorypage' 'b' '법학관' %}"><button>법학관</button></a>
</body>
</html>
