{% extends 'base.html' %} {% block content %} {% include 'shared/_topnav.html'%}
{% load static %}

<link rel="stylesheet" type="text/css" href="../static/css/signup_done.css" />
<div class="main">
  <div class="signup_frame1">
    <div class="image-container">
      <img src="{% static 'assets/images/heart_kongdak.svg'%}" />
      <img
        src="{% static 'assets/images/check-fill_kongdak.svg'%}"
        class="overlay"
      />
    </div>
    <div>회원가입이 완료되었습니다!</div>
    <div>동국대학교 캠퍼스 곳곳에 나의 청춘을 기록해보세요</div>
  </div>
  <button class="signup_frame2">
    <a href="{% url 'login'%}">로그인하기</a></button>
</div>
{% endblock %}
