{% extends 'base.html' %}

{% block content %}
  {% include 'shared/_topnav.html' %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css'%}"/>
  <div class="sign-up-frame">
    <div class="sign-up-view">
      <form action="" class="sign-up-form" method="post">
        {% csrf_token %}
        <label for="id-input">아이디</label>
        <input type="text" name="username" id="id-input">
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password">
        <label for="confirm">비밀번호 확인</label>
        <input type="password" name="confirm" id="confirm">
        <label for="nickname">이름</label>
        <input type="text" name="nickname" id="nickname">
        <label for="studentID">학번</label>
        <input type="text" name="studentID" id="studentID">
        <div class="submit-view">
          <button id="sign-up-submit">완료</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

